<% if current_user.nil? %>
    
    <% if request.subdomain.blank? || request.subdomain == "www" %>
        <%= link_to('Sign up', new_user_registration_path) %>    
        <br>
    <% else %>
        <%= link_to('Login', new_user_session_path) %>
        <br>
    <% end %>


    
<% else %>
    Welcome <%= current_user.email %>
    <br>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    
    <%  if can? :manage, :subscriptions %>
        <%= link_to('Manage Subscriptions', subscriptions_path) %>
    <% end %>
<% end %>
<br>

<% unless current_user.nil? %>
    <% if current_user.has_role? :app_admin %>
        <%= link_to('Invite User', new_user_invitation_path) %>    
    <% end %>
<% end %>

<%= link_to 'Weather Grid', weather_grids_path %>


<h1><%= @message %> </h1>